<div class="container mt-5">
  <div class="row mx-1">
    <h1 class="col-md-11">Skills</h1>
    <button
      *ngIf="isLogged()"
      (click)="openDialog(emptySkill)"
      type="button"
      class="btn btn-primary col-md-1 p-1"
    >
      Agregar
    </button>
  </div>
  <div *ngIf="isEmpty()" class="card mt-3">
    <div class="row g-0">
      <div class="col">
        <div class="card-body">
          <h3 class="card-title">
            Esto es incomodo, no existen items en skills
          </h3>
          <h5 class="text-muted">Esperare a que se llene</h5>
          <p class="card-text">¿Sera pronto verdad?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-3 mt-5 justify-content-md-center">
    <div
      *ngFor="let skill of skills"
      class="col text-center align-middle"
      style="width: 230px; margin: 0 100px"
    >
      <p style="font-size: 1.5rem">{{ skill.title }}</p>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'determinate'"
        [value]="skill.percentage"
        [diameter]="200"
        [strokeWidth]="20"
      >
      </mat-progress-spinner>
      <p
        style="
          width: 100%;
          position: relative;
          top: -125px;
          left: 5px;
          font-size: 2rem;
        "
      >
        {{ skill.percentage }}%
      </p>
      <div *ngIf="isLogged()" class="btn-group" role="group" style="top: -40px">
        <button
          type="button"
          (click)="openDialog(skill)"
          class="btn btn-outline-secondary"
        >
          Editar
        </button>
        <button
          (click)="openDeleteDialog(skill)"
          type="button"
          class="btn btn-danger"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
